/*GENERAL STYLING */
body {
    font-family: 'Ubuntu', sans-serif;
}


/*NAVBAR & BUTTON STYLING*/
.logo {
    width: 100px;
}

.nav-pills .nav-link.active {
    background-color: rgb(255, 165, 0);
    color: white;
    text-decoration: none;
}

.sectiontab{
    color: rgb(112, 112, 112);
}

.sectiontab:hover{
    color:rgb(177, 177, 177);
}

.sectiontab.active{
    color: black;
    font-weight: bold;
}

.imgtab{
    color: rgb(112, 112, 112);
}

.imgtab:hover{
    color:rgb(177, 177, 177)
}

.tryme { /* This is styling for the "Try It" Button linking to final solutions */
    background-color: rgb(255, 165, 0);
    color: white;
    width: 100%;
    max-width: 900px;
    display: block;
    transition: 0.4s;
}


.tryme:hover {
    background-color: rgb(170, 111, 0);
    color: white;
}

/*COVER PHOTO STYLING*/
.coverteam {
    background: url('images/BeaumontBuilding.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coverexplore {
    background: url('images/Aerialimagery_2019.PNG');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coverhome {
    background: url('images/Beaumont-Sign.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.covertext{
    background-color: rgba(33,37,41, 0.5);
    position:absolute;
    right:0;
    bottom:0;
    width: 100%;
    margin:0;
}


/*EXPLORATION PAGE STYLING*/
.screenshot {
    max-width: 100%;
}

.caption {
    color:gray;
    font-style: italic;
}

